include ../components/head
include ../components/header
include ../components/mixins
block variables

doctype html
html(lang="ru")
  +head(title)

  body.page
    main.page__content
      block content
    include ../components/footer

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
