a.heart-icon {
  display: block;
  width: 27px;
  height: 26px;
  position: absolute;
  top: 0px;
  right: 0px;

  @media (max-width:$viewport--md - 1){
    right: 15px;
  }

  &:after {
    content: '';
    width: 27px;
    height: 26px;
    background-image: url("../../img/sprite/heart.svg");
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  &.active,
  &:hover {
    cursor: pointer;

    &:after {
      background-image: url("../../img/sprite/heart-active.svg");
    }
  }

}
