.tovars {
  margin-bottom: 30px;

  &__wrap {
    @include container;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (max-width:$viewport--md - 1) {
      grid-template-columns: 1fr;
      row-gap: 0px;
    }
  }

  &__picture {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .tovar__weight {
      position: absolute;
      bottom: 0;
      left: 0;

      & > div:first-child {
        margin-right: 10px;
      }

      .badge-list {
        position: relative;
        width: 100%;
      }
    }

    @media (max-width:$viewport--md - 1){
      display: flex;
      flex: 1;
      position: relative;
      height: 100%;
    }

  }

  &__item {
    z-index: 1;
    padding: 20px 15px;
    color: $color-paynes-grey;
    background-color: #ffffff;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;

    display: flex;
    flex-direction: column;
    min-height: 600px;
    overflow: hidden;


    .badge-list {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 110px;
      flex-wrap: wrap;

      @media (max-width:$viewport--400){
        flex-direction: row;
        width: auto;
        margin-right: 45px;
      }
    }
    .heart {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    picture {
      display: flex;
      aspect-ratio: 259/237;
      justify-content: center;
      align-items: center;
      padding: 22px 0;

      @media (max-width:$viewport--md - 1){
        padding-top: 41px;
        aspect-ratio: auto;
        min-height: auto;
        flex: 1;
      }

      @media (max-width:$viewport--400){
        padding: 61px 0;
      }
    }

    .tovar__info {
      margin-top: 30px;

      .badge-list {
        position: relative;
        width: auto;
        top: auto;
        left: auto;
        flex-wrap: inherit;
      }

      @media (max-width:$viewport--md - 1){
        flex: 1;
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    button:first-child {
      margin-bottom: 5px;
    }


    @media (max-width:$viewport--lg - 1) {
      padding: 22px;

      &::after {
        content: none;
      }
    }

    @media (max-width:$viewport--md - 1) {
      flex-direction: inherit;
      align-items: flex-start;

      display: flex;
      min-height: auto;

      &::before {
        content: none;
      }

      svg {
        flex-shrink: 0;
        min-height: auto;
        margin-bottom: 0;
        margin-right: 16px;
      }

      p {
        font-size: 12px;
        line-height: 22px;
      }

      strong {
        font-size: 16px;
        line-height: 22px;
      }

      .col2,
      button {
        width: 100%;
      }
      .tovar__installment {
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width:$viewport--md - 1) {
    margin-bottom: 30px;
    padding: 0 15px;
  }
}

.tovar {
  margin-bottom: 30px;

  @media (max-width:$viewport--md - 1) {
    margin-bottom: 30px;
    padding: 0 15px;
  }

  &__weight {
    display: flex;
  }

  &__wrap {
    @include container;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width:$viewport--md - 1){
      align-items: start;
      flex-direction: column;
      padding-right: 15px;
      flex: 1;
    }

  }
  &__section {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #767676;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__title {
    color: #3f3f3f;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    white-space: inherit;
    height: 65px;
    overflow: hidden;
    text-transform: uppercase;
    display: inline-block;
  }

  &__price {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }
  &__old-discount{
    display: flex;
    align-items: center;
  }
  &__oldPrice {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    text-decoration: line-through;
    text-decoration-color: #ea431b;
    margin-bottom: 0;
  }
  &__discount {
    border: 1px solid #ea431b;
    border-radius: 2px;
    color: #ea431b;
    padding: 0 4px;
    font-weight: 700;
    font-size: 12px;
    margin-left: 20px;
    height: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }

  &__bonus {
    display: flex;
    color: #767676;
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 10px;
    a {
      color: #767676;
    }
  }

  &__inStock,
  &__installment {
    color: #090;
  }
  &__inStock {
    display: flex;
  }
  &__installment {
    display: block;
  }

}
