@mixin retina {
  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin viewport--lg {
  @media (max-width: $viewport--xl - 1) {
    @content;
  }
}

@mixin viewport--md {
  @media (max-width: $viewport--lg - 1) {
    @content;
  }
}

@mixin viewport--sm {
  @media (max-width: $viewport--md - 1) {
    @content;
  }
}

// Центрирование контента

@mixin container {
  width: 100%;
  max-width: $content--xl;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include viewport--sm {
    max-width: none;
    padding: 0;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-reset {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}


@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}
@mixin blue_gradient_bg {
  border-color: #013FFF !important;
  background: linear-gradient( 45deg, #0273FF 0%, #013FFF 100%) !important;
}
@mixin gray_gradient_bg {
  background: linear-gradient(123.75deg, #FAFAFA -30.52%, #D7DBE0 89.61%) !important;
}


// form
$placeholder_color: #B1B3BA;

// datepicker
//$calendar_data_active_color: #E5E5E5;
$calendar_data_active_color: #013FFF;
