// Colors
//---------------------------------

$color-black:                   #000000;
$color-white:                   #ffffff;
$color-snow:                    #fafafa;
$color-night-rider:             #333333;
$color-bunker:                  #2b2d30;
$color-burnt-orange:            #ff792e;
$color-malachite:               #13d546;
$color-paynes-grey:             #424348;
$color-pumpkin:                 #fc6321;
$color-dark-gray:               #a4a4a4;
$color-light-salmon:            #ffa782;
$color-deep-sky-blue:           #00b9ff;
$color-whisper:                 #eaeaea;
$color-whisper-lighter:         #e4e4e4;
$color-white-smoke:             #f2f2f2;
$color-white-smoke-lighter:     #f8f8f8;
$color-vulcan:                  #343843;
$color-midnight-express:        #272b36;
$color-lime-green:              #29e53f;
$color-festival:                #efce4a;
$color-alice-blue:              #f4f6f9;
$color-gainsboro:               #e3e3e3;
$color-international-orange:    #ff5500;
$color-light-grey:              #d5d5d5;
$color-oslo-grey:               #868787;
$color-pattens-blue:            #d8dfe1;
$color-whisper-lighter-2:       #e6e6e6;
$color-hawkes-blue:             #dde0e4;
$color-solitude:                #e6e9ef;
$color-grey:                    #7a7a7a;
$color-gainsboro-2:             #dadada;
$color-manatee:                 #8b8c91;
$color-red-orange:              #ff392e;
$color-free-speech-green:       #00eb0d;

// Typography
//---------------------------------

$font-family--gilroy:             "Gilroy", "Arial", sans-serif;
$font-family--rubik:              "Rubik", "Arial", sans-serif;
$font-family--open-sans:          "Open Sans", "Arial", sans-serif;

// Viewports
//---------------------------------

$viewport--sm:                    320px;
$viewport--400:                   400px;
$viewport--md:                    768px;
$viewport--lg:                    1024px;
$viewport--xl:                    1440px;
$content--xl:                     1220px;

// Retina
//---------------------------------

$retina-dpi:                      144dpi;
$retina-dppx:                     1.5dppx;

// Animations
//---------------------------------

$transition:                      0.2s ease;
