

//основной настр блок
.flatpickr-calendar {
  border: 1px solid red;
}
.flatpickr-calendar {
  font-size: 18px;
  max-width: 340px !important;
  width: 340px !important;
  min-width: 340px !important;
  margin: auto;

  @media(max-width:480px){
    font-size: 14px;
  }

  @media(max-width:400px){
    max-width: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
  }
}

.flatpickr-calendar,
.flatpickr-rContainer,
.flatpickr-days,
.dayContainer
{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.flatpickr-day {
  height: 41px;
  border-width: 2px !important;
  font-weight: 600;
  background: #F1F4F8 !important;

  @media(max-width:400px){
    height: 35px;
    line-height: 35px;
  }
}

.flatpickr-weekday {
  width: calc(14% - 6px);
  max-width: calc(14% - 6px);
  min-width: calc(14% - 6px);
  margin: 3px !important;
}

.dayContainer > span {
  width: calc(14% - 6px);
  max-width: calc(14% - 6px);
  margin: 5px 3px;
}

// /основной настроичный блок

.flatpickr-disabled {
  background: transparent !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  border-color: #013FFF !important;
  background: linear-gradient( 45deg, #0273FF 0%, #013FFF 100%) !important;
}


.flatpickr-calendar {
  box-shadow: none !important;
  margin: auto;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  font-weight: 600;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  border-radius: 40px;
  position: relative;
  width: 35px;
  height: 35px;
  @include gray_gradient_bg;
}


.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 10px;
}
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: $calendar_data_active_color;
}

.flatpickr-current-month {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  @media(max-width:480px){
    font-size: 18px;
  }
}
.flatpickr-weekdays {
  align-items: center;
  height: 75px;
}
span.flatpickr-weekday {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color:#808087;
}


.flatpickr-day.today,
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  border-color: $calendar_data_active_color !important;
  border-width: 2px;
  background-color: #F1F4F8;
  color: $calendar_data_active_color;
}
.flatpickr-day.today.selected {
  color: #ffffff;
}

.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
  border-color: $calendar_data_active_color !important;
  @include blue_gradient_bg;
}

.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.flatpickr-disabled:focus{
  border: none !important;
}

.flatpickr-day.nextMonthDay,
.flatpickr-day.prevMonthDay{
  background-color: transparent !important;
}

.dayContainer {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

@media(max-width:480px){
  .flatpickr-calendar,
  .flatpickr-rContainer,
  .flatpickr-days {
    width: 100% !important;
  }
}
